img {
  width: 100px;
  border-radius: 10px;
}

.cart-form {
  margin: 0 50px;
}

.form-margin {
  margin-bottom: 12px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input input {
  height: 35px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 10px;
}

.form-input span {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  color: grey;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin: 0 50px 20px 50px;
}

.cart-item-details {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.cart-item-details > * {
  margin: 10px 0;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.form-submit input {
  background: rgb(23, 128, 226);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.form-submit input:disabled {
  background: rgba(23, 128, 226, 0.479);
  cursor: not-allowed;
}

.cross {
  filter: brightness(0%);
  opacity: 0.5;
  cursor: pointer;
}

.form-input .error {
  color: red !important;
  margin-bottom: 0;
}
