.product-image {
  list-style-type: none;
  width: 290px;
  padding: 20px;
  margin: 6px 6px;
  border: 1px solid #33b5e5;
  cursor: pointer;
}

.product-container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.product-container form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 108px;
}

.product-container form select {
  padding: 7px;
  cursor: pointer;
  margin-bottom: 8px;
}

.product-container form button {
  background-color: rgb(23, 128, 226);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.product-added {
  color: grey;
  margin-top: 10px;
  font-size: 12px;
}
